.about-program {
  background-color: transparent;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url("../img/bg-about-desktop@1x.png");
  margin-bottom: 104px;
  padding-bottom: 96px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: contain;
    background-image: url("../img/bg-about-desktop@2x.png");
  }
}

.about-program__description {
  max-width: 700px;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.about-program__video {
  position: relative;
  text-align: center;
}

.about-program__video img {
  width: 740px;
  height: 460px;
}

.about-program__play-button {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 50px);
  width: 96px;
  height: 96px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;

  &:hover,
  &:focus {
    background-image: url("../img/icon-play-hover.svg");
  }

  &:active {
    opacity: 0.3;
    background-image: url("../img/icon-play-active.svg");
  }
}

@media (max-width: $tablet-width-only) {
  .about-program {
    padding-bottom: 45px;
    background-size: contain;
  }

  .about-program__description {
    font-size: 16px;
    line-height: 26px;
  }

  .about-program__video img {
    width: auto;
    height: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .about-program {
    margin-bottom: 80px;
    padding-bottom: 0;
    background-position: center;
    background-image: url("../img/bg-about-mobile@1x.png");
  }

  .about-program__description {
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
  }

  .about-program__video img {
    width: 320px;
    height: 224px;
  }
}
