.button {
  display: block;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 48px;
  border: none;
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  border-radius: 80px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }
}
