.faq {
  margin-bottom: 34px;
}

.faq__wrapper {
  display: flex;
  margin-top: -79px;
  padding-top: 79px;
  padding-bottom: 95px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left top, left 806px;
  background-size: cover, auto 177px;
  background-image: url("../img/bg-faq-desktop@1x.png"),
    url("../img/bg-bag-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-faq-desktop@2x.png"),
      url("../img/bg-bag-desktop@2x.png");
  }
}

.faq_left {
  max-width: 553px;
  margin-top: 3px;
  margin-left: 110px;
  margin-right: 51px;
}

.faq__list {
  margin: 0;
  padding: 0;
  counter-reset: faqCounter;
}

.faq__item {
  display: flex;
  position: relative;
  list-style: none;
  align-items: center;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);

  &::before {
    position: absolute;
    top: 24px;
    left: 0;
    counter-increment: faqCounter;
    content: counter(faqCounter);
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #ffc341;
  }
}

.faq__item--1 {
  &::before {
    top: 16px;
  }
}

.faq__inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.faq__question {
  display: block;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1px;
  margin-top: 30px;
  margin-bottom: 32px;
  margin-left: 30px;
  margin-right: 20px;
}

.faq__question--2 {
  margin-top: 38px;
}

.faq__question--3 {
  margin-top: 37px;
}

.faq__question--4 {
  margin-top: 39px;
}

.faq__question--5 {
  margin-top: 38px;
  margin-bottom: 24px;
}

.faq__question--6 {
  margin-top: 37px;
  margin-bottom: 25px;
}

.faq__answer {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.15px;
  opacity: 0.74;
  margin-top: -6px;
  margin-bottom: 30px;
}

.faq__answer--hidden {
  display: none;
}

.faq__arrow-link {
  width: 100%;
  color: $base-color;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: rgba(72, 72, 72, 0.1);
  }

  &:active {
    color: #1fc0fc;
  }

  &:hover svg,
  &:focus svg {
    stroke: #ffc341;
  }

  &:active svg {
    stroke: #1fc0fc;
  }
}

.faq__arrow {
  margin-left: 20px;
  margin-right: 30px;
  background-color: transparent;
}

.faq__arrow-link--opened svg {
  transform: rotate(180deg);
}

.faq__arrow svg {
  fill: transparent;
  width: 16px;
  height: 10px;
  stroke: #1fc0fc;
}

.faq__image img {
  width: 100%;
  height: auto;
}

@media (max-width: 1266px) {
  .faq_left {
    max-width: 500px;
    margin-left: 50px;
    margin-right: 30px;
  }
}

@media (max-width: 1150px) {
  .faq_left {
    max-width: 450px;
    margin-left: 50px;
    margin-right: 30px;
  }
}

@media (max-width: $tablet-width-only) {
  .faq_left {
    max-width: 400px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .faq__question {
    font-size: 16px;
    line-height: 26px;
  }

  .faq__answer {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .faq {
    margin-bottom: 41px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: -7px 737px;
    background-size: auto 177px;
    background-image: url("../img/bg-bag-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-bag-desktop@2x.png");
    }
  }

  .faq__wrapper {
    background: none;
    padding-bottom: 41px;
  }

  .faq_left {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .faq__question {
    margin-left: 25px;
    margin-bottom: 15px;
  }

  .faq__arrow {
    margin-left: 1px;
    margin-right: 0;
  }

  .faq__list {
    margin-right: -2px;
  }

  .faq__question--2,
  .faq__question--4 {
    margin-bottom: 23px;
  }

  .faq__question--3 {
    margin-top: 38px;
  }

  .faq__question--3,
  .faq__question--6 {
    margin-bottom: 25px;
  }

  .faq__question--5 {
    margin-right: 5px;
  }

  .faq__question--6 {
    max-width: 200px;
    margin-bottom: 17px;
  }

  .faq__answer {
    margin-bottom: 12px;
  }

  .faq__right {
    display: none;
  }
}
