.how-go__wrapper {
  display: flex;
  background-position: left -180px, right center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover, auto;
  background-image: url("../img/bg-how-go-desktop@1x.png"),
    url("../img/bg-stamp-air-desktop@1x.png");
  margin-left: 12px;
  margin-bottom: 160px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: cover, auto;
    background-image: url("../img/bg-how-go-desktop@2x.png"),
      url("../img/bg-stamp-air-desktop@2x.png");
  }
}

.how-go__image {
  margin-right: 90px;
}

.how-go__image img {
  width: 100%;
  height: auto;
}

.how-go__text-block {
  max-width: 552px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.how-go__description {
  font-size: 15px;
  line-height: 26px;
  opacity: 0.87;
  margin-bottom: 32px;
}

.how-go__to-do {
  font-weight: 500;
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 24px;
}

.how-go__list {
  margin: 0;
  padding: 0;
  counter-reset: howGoCounter;
}

.how-go__item {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.87;
  margin-left: -18px;
  margin-bottom: 40px;

  &::marker {
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
    background: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    display: block;
    width: 36px;
    height: 36px;
  }

  &::before {
    counter-increment: howGoCounter;
    content: counter(howGoCounter);
    font-weight: bold;
    font-size: 17px;
    line-height: 29px;
    color: #ffc341;
    background: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 24px;
    padding: 3px 13px;
  }
}

.how-go__ref {
  display: flex;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;

  &::before {
    content: "";
    display: block;
    width: 4px;
    flex-shrink: 0;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
    margin-right: 16px;
  }
}

@media (max-width: $tablet-width-only) {
  .how-go__wrapper {
    background-position: right center;
    background-size: auto;
    background-image: url("../img/bg-stamp-air-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-stamp-air-desktop@2x.png");
    }
  }

  .how-go__image {
    margin-right: 40px;
  }

  .how-go__text-block {
    max-width: 400px;
  }

  .how-go__description {
    font-size: 14px;
    line-height: 22px;
  }

  .how-go__to-do {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #484848;
  }

  .how-go__item {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .how-go__ref {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .how-go__wrapper {
    margin-left: 0;
    margin-right: 0;
    background-image: url("../img/bg-stamp-air-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-stamp-air-mobile@2x.png");
    }
  }

  .how-go__image {
    display: none;
  }

  .how-go__text-block {
    max-width: 100%;
  }

  .how-go__item {
    margin-left: 0;
  }
}
