.live-in-israel {
  margin-bottom: 93px;
}

.live-in-israel__wrapper {
  padding-bottom: 64px;
  padding-left: 104px;
  padding-right: 110px;
  margin-top: -141px;
  background-position: left -46px, right 610px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/bg-live-desktop@1x.png"),
    url("../img/bg-watch-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: cover;
    background-image: url("../img/bg-live-desktop@2x.png");
  }
}

.live-in-israel__text {
  max-width: 720px;
  margin-top: 0;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  line-height: 29px;
  text-align: right;
  opacity: 0.87;
}

.live-in-israel__img {
  position: relative;
  outline: none;
}

.live-in-israel__img--1 img {
  width: 482px;
  height: 732px;
}

.live-in-israel__img--2 img {
  width: 211px;
  height: 318px;
}

.live-in-israel__img--3 img {
  width: 411px;
  height: 318px;
}

.live-in-israel__img--4 img {
  width: 411px;
  height: 318px;
}

.live-in-israel__img--5 img {
  width: 214px;
  height: 318px;
}

.live-in-israel__label {
  font-family: $alternative-2-font-family;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 35px;
  left: 40px;
}

.live-in-israel__img--1 .live-in-israel__label {
  max-width: 350px;
}

.live-in-israel__img--2 .live-in-israel__label {
  max-width: 120px;
  left: 25px;
}

.live-in-israel__img--3 .live-in-israel__label {
  max-width: 350px;
  left: 33px;
}

.live-in-israel__img--4 .live-in-israel__label {
  max-width: 360px;
  width: 100%;
  left: 34px;
}

.live-in-israel__img--5 .live-in-israel__label {
  max-width: 120px;
  left: 25px;
}

.live-in-israel__image-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -35px;
}

.live-in-israel__img--1 {
  margin-right: 15px;
}

.live-in-israel__img--2 {
  margin-right: 30px;
}

.live-in-israel__img--2,
.live-in-israel__img--3 {
  margin-top: 67px;
}

.live-in-israel__img--4,
.live-in-israel__img--5 {
  position: absolute;
}

.live-in-israel__img--4 {
  left: 43%;
  bottom: 0;
}

.live-in-israel__img--5 {
  right: 0;
  bottom: 0;
}

@media (max-width: 1340px) {
  .live-in-israel__wrapper {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .live-in-israel__img img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1150px) {
  .live-in-israel__image-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .live-in-israel__img--2 {
    margin-right: 0;
  }

  .live-in-israel__img {
    margin-right: 20px;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .live-in-israel__img--3 {
    margin-top: 0;
  }

  .live-in-israel__img--4,
  .live-in-israel__img--5 {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
}

@media (max-width: $tablet-width-only) {
  .live-in-israel {
    margin-bottom: 20px;
  }

  .live-in-israel__wrapper {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }

  .live-in-israel__text-block {
    margin-bottom: 25px;
  }

  .live-in-israel__text {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding-left: 0;
    padding-right: 5px;
    letter-spacing: 0.15px;
  }

  .live-in-israel__img {
    width: 288px;
    height: 400px;
  }

  .live-in-israel__img img {
    width: 100%;
    height: auto;
  }

  .live-in-israel__image-block {
    margin-top: 0;
  }

  .live-in-israel__img--2 {
    margin-top: 0;
  }

  .live-in-israel__img .live-in-israel__label {
    max-width: 250px;
  }

  .live-in-israel__label {
    display: block;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .live-in-israel__img--2 .live-in-israel__label,
  .live-in-israel__img--5 .live-in-israel__label {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: $mobile-width-only) {
  .live-in-israel {
    margin-bottom: 17px;
  }

  .live-in-israel__text {
    max-width: 705px;
  }

  .live-in-israel__img {
    margin-right: 0;
    margin-bottom: 0;
  }

  .live-in-israel__img--2,
  .live-in-israel__img--3,
  .live-in-israel__img--4,
  .live-in-israel__img--5 {
    display: none;
  }

  .live-in-israel__img img {
    width: 288px;
    height: 400px;
    margin: 0 auto;
  }

  .live-in-israel__label,
  .live-in-israel__img--3 .live-in-israel__label,
  .live-in-israel__img--4 .live-in-israel__label {
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  .live-in-israel__image-block {
    margin-bottom: 10px;
  }

  .live-in-israel__slide-point--current {
    width: 8px;
    height: 8px;
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
    opacity: 1;
  }
}

.slick-dots li {
  margin: 0;
  width: auto;
  height: auto;
}

.slick-dots li button {
  width: 6px;
  height: 6px;
  margin-right: 8px;
  padding: 0;
  background-color: $base-color;
  border: none;
  border-radius: 50%;
  opacity: 0.2;
  transition: transform 0.3s ease-in-out;

  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
    opacity: 0.5;
  }

  &:active {
    transform: scale(0.8);
  }
}

.slick-dots li.slick-active button {
  width: 8px;
  height: 8px;
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  opacity: 1;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide:active {
  outline: none;
}
