// order modal
.modal {
  max-width: 480px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  position: relative;
}

.modal--order {
  padding-top: 56px;
  padding-bottom: 40px;
  padding-left: 48px;
  padding-right: 30px;
}

.modal__content {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: $alternative-1-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.modal__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.87;
}

.modal__form input {
  width: 100%;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  opacity: 0.5;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  margin-bottom: 8px;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 30px;
}

.modal__fileds {
  margin-bottom: 24px;
}

.modal__fileds input {
  &:hover,
  &:focus {
    border-color: #ffc341;
  }

  &:invalid {
    // border-color: red;
  }

  &:valid {
    // border-color: #484848;
  }
}

.modal__submit-block {
  margin-bottom: 16px;
}

.modal__submit-block button {
  display: block;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 48px;
  border: none;
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  border-radius: 80px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }
}

.modal__field-checkbox {
  max-width: 264px;
  margin: 0 auto;
}

.modal__field-checkbox span {
  font-size: 13px;
  line-height: 19px;
  opacity: 0.74;
}

.modal__field-checkbox label {
  display: flex;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: 20px;
}

.modal__field-checkbox input {
  margin-right: 8px;
  width: auto;
}

// checkbox
.modal__field-checkbox input + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-checkbox-off.svg");
}

// checked
.modal__field-checkbox input:checked + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #ffc341;
  border-radius: 50%;
}

// disabled
.modal__field-checkbox input:disabled + span {
  opacity: 0.5;
}

// checked + disabled
.modal__field-checkbox input:checked:disabled + span {
  opacity: 0.5;
}

// hover
.modal__field-checkbox input:hover + span {
  // border-color: #1fc0fc;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.7);
}

// disabled + hover
.modal__field-checkbox input:disabled:hover + span {
  box-shadow: none;
}

//  active
.modal__field-checkbox input:active + span {
  box-shadow: 0 0 2px 1px rgba(31, 192, 252, 0.5);
}

// modal close button
.modal__close {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 0;
  border: none;
  width: 18px;
  height: 17px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-close.svg");
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (max-width: $mobile-width-only) {
  .modal {
    max-width: 320px;
    border-radius: 0;
    box-shadow: none;
    position: relative;
  }

  .modal--order {
    padding-top: 169px;
    padding-bottom: 169px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .modal__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .modal__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .modal__close {
    top: 24px;
    right: 24px;
  }
}

// success modal
.modal--success {
  padding: 30px;
}

.modal__title--success {
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 74px;
    height: 64px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-success-order.svg");
    margin-top: 100px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal__success-text {
  margin-top: 0;
  margin-bottom: 32px;
  max-width: 340px;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  opacity: 0.87;
}

.modal__button {
  max-width: 264px;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .modal--success {
    margin-bottom: 292px;
    padding: 16px;
  }

  .modal__title--success {
    &::before {
      margin-top: 200px;
    }
  }

  .modal__success-text {
    font-size: 14px;
    line-height: 22px;
  }
}
