.page-header__wrapper {
  background-repeat: no-repeat;
  background-position: center;
  // background-color: red($color: #000000);
  background-image: url("../img/bg-promo-desktop@1x.jpg");
  min-height: 800px;
}
