.program {
  margin-bottom: 17px;
  margin-left: 210px;
  margin-right: 0;
}

.program__wrapper {
  margin-top: -51px;
  padding-top: 51px;
  background-color: transparent;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 426px;
  background-image: url("../img/bg-programm-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-programm-desktop@2x.png");
  }
}

.program__description {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.87;
  letter-spacing: 0.1px;
}

.program__description--2 {
  max-width: 500px;
}

@media (max-width: $tablet-width-only) {
  .program {
    margin-bottom: 80px;
    margin-left: 30px;
    background-size: contain;
  }

  .program__description {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .program {
    margin-left: 0;
    margin-bottom: 42px;
  }

  .program__wrapper {
    background-image: url("../img/bg-programm-mobile@1x.png");
    background-position: right 115px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: contain;
      background-image: url("../img/bg-programm-mobile@2x.png");
    }
  }

  .program__description {
    font-size: 14px;
    line-height: 22px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .program__description--2 {
    max-width: 100%;
  }
}
