.reviews {
  margin-bottom: 109px;
}

.reviews__wrapper {
  background-color: transparent;
  background-position: right 52px, right 33px;
  background-repeat: no-repeat;
  background-image: url("../img/bg-review-desktop@1x.png"),
    url("../img/bg-review-color-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: 523px auto, cover;
    background-image: url("../img/bg-review-desktop@2x.png"),
      url("../img/bg-review-color-desktop@2x.png");
  }
}

.reviews__list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 98px;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}

.reviews__item {
  display: flex;
}

.reviews__item--slide {
  &:not(:first-child) {
    display: none;
  }
}

.reviews__image {
  margin-right: 40px;
}

.reviews__image img {
  width: 100%;
  height: auto;
}

.reviews__block {
  max-width: 670px;
  margin: 0;
  margin-top: 41px;
}

.reviews__author {
  display: block;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.74;
}

.reviews__program-link {
  text-decoration: none;
  font-size: 15px;
  line-height: 21px;
  color: #1fc0fc;
  margin-right: 5px;

  &:hover,
  &:focus {
    color: #ffc341;
  }

  &:active {
    color: #1fc0fc;
  }
}

.reviews__program {
  display: block;
  margin-bottom: 30px;
}

.reviews__program-label {
  font-size: 15px;
  line-height: 21px;
  opacity: 0.74;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.74;
  letter-spacing: 0.17px;
}

.reviews__detail-link {
  display: block;
  font-size: 17px;
  line-height: 25px;
  color: #1fc0fc;
  margin-bottom: 55px;

  &:hover,
  &:focus {
    color: #ffc341;
  }

  &:active {
    color: #1fc0fc;
  }
}

.reviews__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__footer-left {
  display: flex;
  align-items: baseline;
}

.reviews__footer-left--mobile {
  display: none;
}

.reviews__counter {
  font-size: 17px;
  line-height: 25px;
  opacity: 0.5;
  margin-right: 24px;
}

.reviews__buttons {
  border: none;
  background-color: transparent;
  margin-right: 20px;
  padding: 0;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover svg,
  &:focus svg {
    stroke: #ffc341;
    opacity: 1;
  }

  &:active svg {
    stroke: $base-color;
    opacity: 0.2;
  }
}

.reviews__buttons svg {
  stroke: $base-color;
  fill: transparent;
  opacity: 0.2;
  width: 8px;
  height: 15px;
}

ul.reviews__right {
  margin-right: -9px;
}

ul .reviews__item--social {
  margin-right: 15px;
  margin-bottom: 0;
}

@media (max-width: $tablet-width-only) {
  .reviews {
    margin-bottom: 90px;
  }

  .reviews__list {
    margin-right: 30px;
    margin-left: 30px;
  }

  .reviews__block {
    max-width: 450px;
  }

  .reviews__program-link {
    font-size: 14px;
    line-height: 22px;
  }

  .reviews__program-label {
    font-size: 14px;
    line-height: 22px;
  }

  .reviews__text {
    font-size: 16px;
    line-height: 26px;
  }

  .reviews__detail-link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width-only) {
  .reviews {
    margin-bottom: 78px;
    background-color: transparent;
    background-position: right 524px, right 690px;
    background-repeat: no-repeat;
    background-image: url("../img/bg-review-mobile@1x.png"),
      url("../img/bg-review-color-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: auto 261px, auto 234px;
      background-image: url("../img/bg-review-mobile@2x.png"),
        url("../img/bg-review-color-mobile@2x.png");
    }
  }

  .reviews__wrapper {
    background-image: none;
  }

  .reviews__list {
    margin-right: 0;
    margin-left: 0;
  }

  .reviews__item {
    display: block;
  }

  .reviews__image {
    margin-bottom: 8px;
    margin-left: 24px;
    margin-right: 25px;
  }

  .reviews__block {
    max-width: 100%;
    margin-top: 0;
  }

  .reviews__program {
    margin-bottom: 23px;
  }

  .reviews__program-link {
    display: block;
  }

  .reviews__detail-link {
    display: block;
    margin-top: 23px;
    margin-bottom: 21px;
  }

  .reviews__footer-left {
    display: none;
  }

  .reviews__footer-left--mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}
