.title-h2 {
  font-family: $alternative-1-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1fc0fc;
  margin-top: 0;
  margin-bottom: 24px;
}

.title-h2--center {
  text-align: center;
}

.title-h2--mb {
  margin-bottom: 83px;
}

.title-h2--contacts-mb {
  margin-bottom: 48px;
}

@media (max-width: $tablet-width-only) {
  .title-h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .title-h2--mb {
    margin-bottom: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  .title-h2--mobile-center {
    text-align: center;
  }

  .title-h2--contacts-mb {
    margin-bottom: 24px;
  }

  .title-h2--pt {
    padding-top: 40px;
  }
}
