.want-to-go {
  margin-bottom: 290px;
}

.want-to-go__wrapper {
  position: relative;
  background-position: left 135px;
  background-repeat: no-repeat;
  background-image: url("../img/bg-backpack-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-size: 147px auto;
    background-image: url("../img/bg-backpack-desktop@2x.png");
  }
}

.want-to-go__phone {
  max-width: 477px;
  margin-left: 210px;
  margin-bottom: 131px;
  padding-top: 212px;
}

.want-to-go__text {
  max-width: 400px;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.87;
  margin-top: 0;
  margin-bottom: 64px;
}

.want-to-go__form {
  display: flex;
  position: relative;
}

.want-to-go__form input {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  opacity: 0.5;
  text-transform: lowercase;
  font-variant: small-caps;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 70px;

  &:hover,
  &:focus {
    border-color: #ffc341;
  }
}

.want-to-go__form--invalid input {
  border-color: red;
}

.want-to-go__form--valid input {
  border-color: #484848;
}

.want-to-go__form button {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: -0.5px;
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  border: none;
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
  border-radius: 80px;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  box-shadow: none;
  outline-color: transparent;
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 250px;

  &:hover,
  &:focus {
    background: linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #ffc341 -50.3%, #ffd701 63.1%);
  }
}

.want-to-go__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.want-to-go__image img {
  width: 818px;
  height: 594px;
}

@media (max-width: $tablet-width-only) {
  .want-to-go {
    padding-bottom: 291px;
    margin-bottom: 0;
  }

  .want-to-go__phone {
    margin-left: 90px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .want-to-go__text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .want-to-go__image img {
    width: 550px;
    height: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .want-to-go {
    position: static;
    margin-bottom: 44px;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-position: left -11px;
    background-image: url("../img/bg-backpack-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: contain;
      background-image: url("../img/bg-backpack-mobile@2x.png");
    }
  }

  .want-to-go__wrapper {
    background: none;
  }

  .want-to-go__text {
    max-width: 100%;
  }

  .want-to-go__phone {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
  }

  .want-to-go__form {
    display: block;
    position: static;
  }

  .want-to-go__form input {
    width: 100%;
    margin-bottom: 8px;
  }

  .want-to-go__form button {
    display: block;
    margin: 0 auto;
    position: static;
    width: 92%;
  }

  .want-to-go__image {
    position: static;
    text-align: center;
    margin-left: -16px;
    margin-right: -15px;
  }

  .want-to-go__image img {
    width: 100%;
    height: auto;
  }
}
